extends layout

block nav
	img#profpic.img-thumbnail(src='/images/headshot.jpg')
	#name
		h1  Juliana Nazar&eacute; 
	#bio
		p
			| I am a German-speaking kid from a social experiment called Reston. Currently, I study Electrical and Computer Engineering at Olin College of Engineering. Before Olin, most of my time was spent on the soccer field and as an ammetuer track + field polevaulter.
		p
			| I am interested applying natural language processing and software development to make visualizations that help people learn about themselves, their community, and the world around them. 
	#social-icons
		a(href='https://github.com/jnazare', id="social")
			i.fa.fa-github-square.fa-2x
		a(href='http://www.linkedin.com/in/juliananazare', id="social")
			i.fa.fa-linkedin-square.fa-2x
		a(href='https://twitter.com/juliananazare', id="social")
			i.fa.fa-twitter-square.fa-2x
		a(href='mailto:jules.nazare@gmail.com', id="social")
			i.fa.fa-envelope.fa-2x
	#resume
		h1#sidebarlinks
			a(href='/') portfolio&nbsp;
			| |
			a(href='/resume')  resume 
		br
		p(id="caption")  Picture: Teaching Arduino to the Google CSSI camp

block content
	if(currentproject) 
		#myproject #{currentproject}
	else
		#projectrow.row
			h3 Work...
		#projectrow.row
			each job in work
				a(href=job.url)
					#work.col-md-3
						p#title  #{job.title}
						//- p#subtitle  Wireless link between a Raspberry Pi and a software-defined radio 
						p#date  #{job.date}
		#projectrow.row
			h3 Projects and Fun...
		#projectrow.row
			each project in projects
				a(href=project.url)
					#project.col-md-3
						p#title  #{project.title}
						p#date  #{project.date}