extends layout

block nav
	img#profpic.img-thumbnail(src='/images/headshot.jpg')
	#name
		h1  Juliana Nazar&eacute; 
	#bio
		p
			| I am a senior studying Electrical and Computer Engineering at Olin College of Engineering. 
			| I also work part-time at MIT Lincoln Labs in the 
			a(href="http://www.ll.mit.edu/mission/cybersec/HLT/HLT.html")
				|  Human Language Technology Group
			|   and am a Technical Associate at 
			a(href="http://startupinstitute.com")
				|  Startup Institute Boston.
		p
			|  Before Olin, I had lived my entire life in Reston, one of the first socially-engineered towns in the US, and most of my free time was spent on the soccer field and waitressing.
		p
			| I am interested applying natural language processing and software development to make visualizations that help people learn about themselves, their community, and the world around them. 
	#social-icons
		a(href='http://github.com/jnazare', id="social")
			i.fa.fa-github-square.fa-2x
		a(href='http://www.linkedin.com/in/juliananazare', id="social")
			i.fa.fa-linkedin-square.fa-2x
		a(href='http://twitter.com/juliananazare', id="social")
			i.fa.fa-twitter-square.fa-2x
		a(href='mailto:jules.nazare@gmail.com', id="social")
			i.fa.fa-envelope.fa-2x
	#resume
		h1#sidebarlinks
			a(href='/') portfolio&nbsp;
			| |
			a(href='/resume')  resume 
		p(id="caption")  Picture: Teaching Arduino to the Google CSSI camp

block content
	if(currentproject) 
		#myproject #{currentproject}
	else
		#projectrow.row
			h3 Work...
		#projectrow.row
			each job in work
				a(href=job.url)
					#work.col-md-3
						p#title  #{job.title}
						p#date  #{job.date}
		#projectrow.row
			h3 Projects and Fun...
		#projectrow.row
			each project in projects
				a(href=project.url)
					#project.col-md-3
						p#title  #{project.title}
						p#date  #{project.date}